{% extends "layout.html" %}

{% block body %}
<h2>社番: {{ cun }}</h2>

{% if hist %}
<table class="list" border="1">
    <tr>
        <th>日付</th>
        <th>履歴</th>
        <th>部署</th>
    </tr>
    {% for row in hist %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[3] }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<p>本年度（本日時点）</p>
<ul style="list-style:none;">
    <li>走行距離:　{{ fuel_data[0] }}㎞</li>
    <li>度燃料使用量:　{{ fuel_data[1] }}ℓ</li>
</ul>
{% endif %}
{% endblock %}